*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    margin: 13px auto 15px
}

.header_ol{
    display: flex;
    gap: 62px;
}
.header_link{
    font-size: 14px;
    line-height: 14px;
    color: #1C1C1C;
    text-decoration: none;
}
.buttom{
    height: 40px;
    width: 157px;
    border-radius: 20px;
    background: #6F2CFF;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.buttom:hover{
    background: hsl(261, 38%, 15%);
    transition: 2s;
    cursor: pointer;
}
.main{
    background: #F6BED9;
    padding: 58px 0 59px;
}

.main_title{
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    max-width: 470px;
}

.main_title-violate{
    color: #6F2DFF;
}

.main_text{
    font-weight: 18px;
    line-height: 30px;
    max-width: 438px;
    margin: 18px 0;
}

.main_text-bold{
    font-weight: bold;
}

.main_imput{
  height: 45px;
  width: 268px;
  border: 1px solid #6F2CFF;
  border-radius: 28px;
  padding-left: 26px;
}

.main_imput ::placeholder{
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.27);
}

.main_imput:focus{
    outline: none;
}

.main_buttom{
    margin-left: 9px;
    color: #FFFFFF;
    height: 40px;
    width: 157px;
    border-radius: 20px;
    background: #6F2CFF;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    }

.main_buttom:hover{
    background: hsl(261, 38%, 15%);
    transition: 2s;
    cursor: pointer;
}

.footer{
    background-color: #20003C;
    padding: 58px 0;
}

.header_oll{
    display: flex;
    gap: 74px;
}
.footer_link{
    font-weight: 700;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_buttom{
    margin-left: 9px;
    color: #FFFFFF;
    height: 40px;
    width: 157px;
    border-radius: 20px;
    background: #6F2CFF;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    }

    .footer_buttom:hover{
        background: hsl(261, 38%, 15%);
        transition: 2s;
        cursor: pointer;